@import url(https://fonts.googleapis.com/css?family=Thasadith);


/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body
{
    font-family: 'Thasadith', serif;
}

.main
{
    margin: 100px auto;
    width: 500px;
    text-align: center;
}

#slider
{
    margin: 80px auto;
    width: 500px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    display: table;
    user-select: none;    
}

#slider > div
{
    display: table-cell; vertical-align: middle; 
}

h1 {margin-bottom: 80px;}
h4, h5 {padding: 10px; font-weight: normal;}

.button
{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block !important;
    font-size: 16px;
    border-radius: 12px;
    margin: 10px;
    transition-duration: 0.4s;
    user-select: none;
}

.button:hover 
{
  background-color: #fff;
  color: #f44336;
  border: 1px solid #f44336;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a {text-decoration: none;}

/*pick image*/
#pics
{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#pics > img
{
    width: 150px;
    height: 150px;
    opacity: 1;
    transition: .5s ease;
    padding: 10px;
    border-radius: 30px;
}

#pics img:hover
{
    opacity: 0.3;
}

#buttonHidden {display: none;}

/*Game zone*/
#game
{
    background-color: whitesmoke;
    height: 474px;
    width: 474px;

    margin: 14px auto;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 20px;
}

#header{
    font-size: 50px;
}

#solveNow
{
    display: none;
    margin-top: 50px;
    font-size: 50px;
    color: gray;
}

#solveNow span { font-size: 15px;}

#select
{
    display: flex;
    flex-direction: column;
}

#play
{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 10px;
    transition-duration: 0.4s;
    width: 50px;
    margin: 20px auto;
    user-select: none;
}

#play:hover 
{
    background-color: #fff;
    color: #f44336;
    border: 1px solid #f44336;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hideButton {display: none !important;}

#shuffle-button
{
    margin: 0 auto;
}

label 
{
    display: block;
    margin: 30px;
    font-size: 30px;
}

#game ul 
{
    margin: 0 auto;
    font-size: 0;
    position: relative;
    user-select: none;
    line-height: 450px;
    color: white;
}
select{
    width : 250px;
    margin : 0 auto;
}
#game li 
{
    position: absolute;
    display: inline-block;
    width: 150px; 
    height: 150px; 
    border: 1px solid #b9b9b9;

    line-height: 150px;
    font-size: 40px;
    text-align: center;
    border-radius: 20px;
}

#game li.incorrect 
{
    border-color: darkred;
}

#game li.correct 
{
    border-color: green;
}

.backdrop
{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

#popup
{
    position: relative;
    top : 780px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    color: #000;
}

#f5
{
    position: absolute;
    top: 780px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000;
    font-size: 50px;
}